if is_active
    // Radial menu
    form#avatarForm(action="/today/" + user_id method="POST" enctype="multipart/form-data")
        // Use avatar from the user if they have one, else, use default
        div#radial-container
            div(class="avatar" style="background-image: url('"+ avatar + "'), url('../images/user/avatar.jpg')" )
                input#avatarInput(type="file" name="avatar" style="display:none;")
                label(for="avatarInput")
                    i(class="fas fa-camera-retro")
                div(class="wrap navbar-nav")
                    input#checking(type='checkbox' style='display:none;')
                    a(class="blob nav-link" href="#")
                        i(class="fas nav-btn fa-cog")
                    a(class="blob nav-link" href="#")
                        i(class="fas nav-btn fa-wallet")
                    a(class="blob nav-link" href="/logout")
                        i(class="fas nav-btn fa-door-open")
                    //label(class="blob" for="checking")

    //     SVG Filter
    svg
        defs
            filter#filter
                // Add filter to blur the button edges: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feGaussianBlur
                feGaussianBlur()
                // Change
                feColorMatrix(  in="blur"
                                mode="matrix"
                                values="1 0 0 0 0  " +
                                "       0 1 0 0 0  " +
                                "       0 0 1 0 0  " +
                                "       0 0 0 18 -7"
                                result="filter")
                // Blend color together as the get joined
                feBlend(in2="filter" in="SourceGraphic" result="mix")