extends layout.pug

block content
    div(class="jumbotron bg-transparent")
        svg(class="big-logo" viewbox="0 0 10 2" )
            a(href="/")
                text(x="5" y="1" alignment-baseline="middle" text-anchor="middle" font-size="1" fill="none" stroke-width=".015" stroke="#fff" font-family="Pacifico, sans-serif" letter-spacing="0.02px") Simpley


    div(class="wrap-home-links bg-transparent ")
        p(class="welcome-text my-5 text-white text-center") Hello! <br> Welcome to Simpley, a simple and easy way to plan your day!
        div(class="card wrap_home__icon" onclick="location.href='/login';")
            h3(class="text-center mb-4 title_home__icon") Start Planning
            i(class="fas fa-clipboard-list fa-9x text-center home__icon")