doctype html
html
    head
        include includes/head
    body
        main
            .container
                block content

        header
            include includes/navbar
        script
            block script