extends layout.pug

block content
    div(class="jumbotron bg-transparent")
        svg(class="big-logo" viewbox="0 0 10 2")
            a(href="/")
                text(x="5" y="1" alignment-baseline="middle" text-anchor="middle" font-size="1" fill="none" stroke-width=".02" stroke="#fff" font-family="Pacifico, sans-serif" letter-spacing="0.02px") Simpley

    div(class="card bg-transparent border-0 px-5 py-5")
        // Display flash messages here
        div.wrap__error_msg.py-2
            while message = flash.shift()
                span(class="text-" + message.type + ' text-center error_msg alert"') #{message.message}
        // Signup form
        form(id="signupForm" class="mx-auto" action="signup" method="POST")
            div(class="form-group")
                label(for="firstname" class="text-white") Firstname
                input(type="text" name="firstname" class="form-control" id="firstname" autocomplete="off" placeholder="Enter firstname" required)
            div(class="form-group")
                label(for="lastname" class="text-white") Lastname
                input(type="text" name="lastname" class="form-control" id="lastname" autocomplete="off" placeholder="Enter lastname" required)
            div(class="form-group")
                label(for="email" class="text-white") Email address
                input(type="email" name="email" class="form-control" id="email" autocomplete="off" aria-describedby="emailHelp" placeholder="Enter email" required)
                small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else
            div(class="form-group")
                label(for="password" class="text-white") Password
                input(type="password" name="password" class="form-control" id="password" autocomplete="off" pattern=".{6,}" placeholder="Password" title="6 characters minimum" required)

            button(type="submit" id="signup" class="btn btn-primary mt-4") Live Simpley
            p.login-invite.text-center.pt-3
                span(class="text-white") Already have an account?
                    a(href="/login")   Login.
