<div class="auth_wrap">
<a routerLink="/">
  <svg class="big-log" viewBox="0 0 10 2">
    <text class="svg_path" x="5" y="1" alignment-baseline="middle" text-anchor="middle" font-size="1" fill="none"
          stroke-width=".02" stroke="#fff" font-family="Pacifico, sans-serif" letter-spacing="0.02px">
      Simpley
    </text>
  </svg>
</a>

<div class="wrap-home-links bg-transparent ">
  <div class="card wrap_home__icon" routerLink="/login">
    <h3 class="text-center mb-4 title_home__icon">Plan today!</h3>
    <i class="fas fa-clipboard-list fa-9x text-center home__icon"></i>
  </div>
</div>
</div>
