<form id="avatarForm" action="" method="POST">
  <div id="radial-container">
    <div class="avatar">
    <input id="avatarInput" type="file" name="avatar" style='"display": "none"'/>
    <label for="avatarInput"><i class="fas fa-camera-retro"/></label>
    <div class="wrap navbar-nav">
      <input id="checking" type="checkbox" style="'display': 'none'"/>
      <a class="blob nav-link"><i class="fas nav-btn fa-cog"/></a>
      <a class="blob nav-link"><i class="fas nav-btn fa-wallet"/></a>
      <a class="blob nav-link" (click)="logout()"><i class="fas nav-btn fa-door-open"/></a>
    </div>
  </div>
  </div>
</form>
