<form id="avatarForm" action="" method="POST">
  <div id="radial-container">
    <div class="avatar">
    <input id="avatarInput" type="file" name="avatar" [ngStyle]="{'display':'none'}"/>
      <label for="avatarInput"><i class="fas fa-camera-retro"></i></label>
    <div class="wrap navbar-nav">
      <input id="checking" type="checkbox" [ngStyle]="{'display':'none'}"/>
      <a class="blob nav-link"><i class="fas nav-btn fa-cog"></i></a>
      <a class="blob nav-link"><i class="fas nav-btn fa-wallet"></i></a>
      <a class="blob nav-link" (click)="logout()"><i class="fas nav-btn fa-door-open"></i></a>
    </div>
  </div>
  </div>
</form>
